body{
        background-color:#EAF6F6 ;
    }

hr{
    height: 0px;
    border-style: none;
    border-top-style: dotted;
    background-color: #EAF6F6;
    border-width: 5px;
    width: 5%;
   }
#one{
            text-align: center;
            text-justify: auto;
        }
h1,h3{
    color: #66BFBF;
}